extends layout

block content 
  if !err
    if result.common_name
      h1(class="title is-2") #{result.common_name} - #{result.scientific_name}
    else
      h1(class="title is-2") #{result.scientific_name}
    div(class="media")
      img(width= "400" class= "media-left" src=result.image_url)
      div(class="media-content")
        div(class="content")
          each prop, propName in result
            each section in sections
              if propName == section && result[propName]
                strong #{propName}
                if section == "sources"
                  each sourceUrl in result.sources
                    br
                    a(href=sourceUrl.url left= "5px") #{sourceUrl.name}
                else 
                  p #{prop}
      