extends layout

block content 
  if !err
    if result.common_name
      h1(class="title is-2") #{result["Common name"]} - #{result["Scientific name"]}
    else
      h1(class="title is-2") #{result["Scientific name"]}
    div(class="media")
      img(width= "400" class= "media-left" src=result["Image url"])
      div(class="media-content")
        div(class="content")
          each prop, propName in result
            if propName == "Sources"
              strong #{propName}
              each sourceUrl in result["Sources"]
                br
                a(href=sourceUrl.url left= "5px") #{sourceUrl.name}
            else if propName == "Image url"
            else 
              strong #{propName}
              p #{prop}
    h1(class="title is-2") Q&A
    div(class="container is-fullhd")
      div(class="notification is-primary")
        if qa
          each question in qa
              div(class="box")
                h4(class= "title is-4") #{question.question} 
                h6(class= "subtitle is-6") Asked by #{question.user}
                if question.responses
                  each response in question.responses
                    div(id= "response" class="box")
                      p #{response.user}:
                      br
                      p #{response.response}
                else
                  div(class="box")
                    p There are currently no responses to this question...
        div(class= "box")
          form(method="POST")
            label(class="title is-4") Want to ask a question?
            div(class="field")
              label(class="label") Username:
              div(class="control")
                input(class="input" type="text" placeholder="my_username" name="user")
            div(class="field")
              label(class="label") Question:
              div(class="control")
                input(class="input" type="text" placeholder="When is it best to plant ____?" name="question")
            div(class="field")
              div(class="control")
                button(class="button is-link is-dark is-primary") Submit
            
