extends layout

block content 
  if !err
    if result.common_name
      h1(class="title is-2") #{result["Common name"]} - #{result["Scientific name"]}
    else
      h1(class="title is-2") #{result["Scientific name"]}
    div(class="media")
      img(width= "400" class= "media-left" src=result["Image url"])
      div(class="media-content")
        div(class="content")
          each prop, propName in result
            if propName == "Sources"
              strong #{propName}
              each sourceUrl in result["Sources"]
                br
                a(href=sourceUrl.url left= "5px") #{sourceUrl.name}
            else if propName == "Image url"
            else 
              strong #{propName}
              p #{prop}
    h1(class="title is-2") Q&A
    div(class="container is-fullhd")
      div(class="notification is-primary")
        if qa
          div(class= "level")
          each question in qa
              div(class="level level-left box")
                h4(class= "title is-4") #{question.question} 
                h6(class= "subtitle is-6") Asked by #{question.user}
                div(id= "response")